#recorder {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 100px
}

#close-button {
    display: flex;
    flex-direction: row-reverse;
}

#pause-save-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#playback {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#recording-button {
    display: flex;
    justify-content: center;
}

ion-button[shape=circle] {
    --border-radius: 50%;
    width: 56px; 
    height: 56px;
}