#entryPage {
  /* margin: 2000px 20000px; */
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

#title {
  font-size: x-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  /* How can I remove the unneccessary padding in the IonInput?*/
  --padding-end: 0px;
  --inner-padding-end: 0px;

  padding-right: 8px;
  margin: 12px 12px 8px 4px;
}


#selector {
  margin-bottom: 20px
}

#body {
  height: 30%;
  margin-bottom: 52px;
  /* overflow: auto; */
}

ion-modal#recording-modal {
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


#footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}